xiaomi.eu*.zip
Tools/APKTool/Frameworks/*.apk

ROMS/REQUIRED_ROM/ROM/system
ROMS/REQUIRED_ROM/ROM/vendor
ROMS/REQUIRED_ROM/Required_Classes/framework
ROMS/REQUIRED_ROM/Required_Classes/gson
ROMS/REQUIRED_ROM/Required_Classes/miui*

ROMS/SECOND_ROM/system
ROMS/SECOND_ROM/vendor

ROMS/THIRD_ROM/system
ROMS/THIRD_ROM/vendor