<?xml version="1.0" encoding="utf-8"?>
<APKEasyTool xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <SelectedPathMain>D:\ANXCamera\ANXCamera_Misc\Rom_Files\ROM_System_Vendor\system\priv-app\MiuiCamera\MiuiCamera.apk</SelectedPathMain>
  <SelectedDexOdexOat />
  <SelectedSmali />
  <PathDec>D:\ANXCamera\ANXCamera_Misc\APKTool\1-Decompiled APKs</PathDec>
  <PathCom>D:\ANXCamera\ANXCamera_Misc\APKTool\2-Recompiled APKs</PathCom>
  <PathExt>D:\ANXCamera\ANXCamera_Misc\APKTool\3-Extracted APKs</PathExt>
  <PathZip>D:\ANXCamera\ANXCamera_Misc\APKTool\4-Zipped APKs</PathZip>
  <PathBaksmali>D:\ANXCamera\ANXCamera_Misc\APKTool\5-Baksmali</PathBaksmali>
  <PathSmali>D:\ANXCamera\ANXCamera_Misc\APKTool\6-Smali</PathSmali>
  <PathPem>D:\ANXCamera\ANXCamera_Misc\APKTool\Resources\apkeasytool.pem</PathPem>
  <PathPk8>D:\ANXCamera\ANXCamera_Misc\APKTool\Resources\apkeasytool.pk8</PathPk8>
  <PathJksFile />
  <PathTempDec />
  <PathTempFw>D:\ANXCamera\ANXCamera_Misc\APKTool\Frameworks</PathTempFw>
  <PathTempFw2>D:\ANXCamera\ANXCamera_Misc\APKTool\Frameworks</PathTempFw2>
  <PathFw>D:\ANXCamera\ANXCamera_Misc\APKTool\Frameworks</PathFw>
  <PathJava />
  <FileNameDec>ANXCamera</FileNameDec>
  <FileNameCom>ANXCamera</FileNameCom>
  <FileNameDexOdexOat />
  <FileNameSmali />
  <DropDownApkTool>apktool_2.4.0.jar</DropDownApkTool>
  <DropDownApkSign>Apksigner (Default)</DropDownApkSign>
  <DropDownLogLevel>Warn &amp; Error only (Default)</DropDownLogLevel>
  <DropDownCmdMode>WriteLine (Recommended)</DropDownCmdMode>
  <DwordX>104</DwordX>
  <DwordY>104</DwordY>
  <DwordXmx>1024</DwordXmx>
  <CheckBoxDecB>true</CheckBoxDecB>
  <CheckBoxDecF>true</CheckBoxDecF>
  <CheckBoxDecK>false</CheckBoxDecK>
  <CheckBoxDecM>false</CheckBoxDecM>
  <CheckBoxDecR>false</CheckBoxDecR>
  <CheckBoxDecS>false</CheckBoxDecS>
  <CheckBoxDecNC>false</CheckBoxDecNC>
  <CheckBoxComC>false</CheckBoxComC>
  <CheckBoxComD>false</CheckBoxComD>
  <CheckBoxComF>false</CheckBoxComF>
  <CheckBoxComNC>false</CheckBoxComNC>
  <CheckBoxComAapt2>true</CheckBoxComAapt2>
  <CheckBoxZipF>false</CheckBoxZipF>
  <CheckBoxZipP>false</CheckBoxZipP>
  <CheckBoxZipZ>false</CheckBoxZipZ>
  <CheckBoxZipV>false</CheckBoxZipV>
  <CheckBoxShellExt>false</CheckBoxShellExt>
  <CheckBoxEnaLog>true</CheckBoxEnaLog>
  <CheckBoxUseJks>false</CheckBoxUseJks>
  <CheckBoxSignApk>true</CheckBoxSignApk>
  <CheckBoxInstallApk>false</CheckBoxInstallApk>
  <CheckBoxOverApk>false</CheckBoxOverApk>
  <CheckBoxZipAfterSign>false</CheckBoxZipAfterSign>
  <CheckBoxToolTips>true</CheckBoxToolTips>
  <CheckBoxChkUpdate>false</CheckBoxChkUpdate>
  <CheckBoxWinPos>false</CheckBoxWinPos>
  <CheckBoxRememberPass>false</CheckBoxRememberPass>
  <CheckBoxDisHistory>false</CheckBoxDisHistory>
  <CheckBoxDisComMsgBox>false</CheckBoxDisComMsgBox>
  <CheckBoxUseExtJava>false</CheckBoxUseExtJava>
  <CheckBoxReadApk>false</CheckBoxReadApk>
  <CheckBoxReplaceSpace>false</CheckBoxReplaceSpace>
  <AskToSetupDir>false</AskToSetupDir>
  <isSidedLogOpened>false</isSidedLogOpened>
  <isReset>false</isReset>
  <DecApiLvl />
  <ComApiLvl />
  <ReplaceWithSpace>false</ReplaceWithSpace>
</APKEasyTool>